* {
    margin: 0;
    padding: 0;
}

body{
    background: #02484b;
    display: flex;
    
}

section{
    position:relative;
    width: 1200px;
    height: 130px;
    top: 40px;
    left: 80px;
    border-radius: 25px;
    border-width: 2px 2px 2px;
    border-style: solid;
    border-color: black;
}

h1#tittle{
    position: relative;
    width: 800px;
    height: 53px;
    left: 150px;
    top: -25px;
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    border-radius: 25px;
    text-align: center;
    color: #0e9281;
}

p#parrafo{
    position: absolute;
    width: 1000px;
    height: 80px;
    left: 40px;
    top: 40px;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    background-color: transparent;

    color: #fff1f1;
}

div#entrada{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 61.45px;
    top: 170px;
}

div#salida{
    position: absolute;
    width: 350px;
    height: 300px;
    left: 780px;
    top: 170px;
}

textarea#in{
    position: relative;
    width: 600px;
    height: 300px;
    top: 30px;
    left: 30px;
    background-color:  rgb(235, 248, 250);
    border-radius: 15px;
    color: black;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    resize: none;
    outline: none;
}


textarea#out{
    position: relative;
    width: 500px;
    height: 300px;
    top: 30px;
    left: 5px;
    background-color: rgb(235, 248, 250);
    border-radius: 15px;
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    outline: none;
}


textarea::-webkit-scrollbar {
    width: 8px;
}
  
textarea::-webkit-scrollbar-track {
    background: lightgrey;
}
  
textarea::-webkit-scrollbar-thumb {
    background: darkblue;
    border-radius: 4px;
}
  
textarea::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue-300);
}

textarea::placeholder{
    color: #0a3871;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
/*
.out{
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    background-color: #f3f5fc;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 100%;
    left: 40px;
    top: 50px;
    outline: none;
    display: inline-block;

    background: #FFFFFF;
    border-color: black;
    border-radius: 25px;
}
*/
button#encrip{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 50px;
    top: 350px;
    text-align: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

button#desencrip{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 350px;
    top: 350px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 25px;
    line-height: 19px;
    color: #0a3871;
}


button#copiar{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 120px;
    top: 350px;
    text-align: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}